.btn-active {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  border-radius: 16px;
  border: none;
  width: 100%;
  max-width: 136px;
  background: #21AB36;
  color: #fff;
}

.btn-sample {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  border-radius: 16px;
  border: none;
  width: 100%;
  max-width: 136px;
  color: #9F9F9F;
  background: #E3E3E3;
}
.text-cen {
  padding: 16px !important;
  text-align: center !important;
}